<div *ngIf="currentFileUpload" class="progress" style="width: 495px;">
	<div class="progress-bar progress-bar-info progress-bar-striped"
		role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
		aria-valuemin="0" aria-valuemax="100"
		[ngStyle]="{width:progress.percentage+'%'}">
		{{progress.percentage}}%</div>
</div>

<label class="btn btn-default">
	<input type="file" (change)="selectFile($event)">
</label>

<button class="btn btn-success" [disabled]="!selectedFiles"
	(click)="upload()">Upload</button>
<br/>
<br/>
<div style="margin-left: -30px;">
  <account-select *ngIf='showVar'></account-select>
</div>
<list-upload *ngIf='isFileListEmpty && !isUploadFile'></list-upload>
<div class="my-container">
  <ngx-loading [show]="formLoading" [config]="{ backdropBorderRadius: '25px' }"></ngx-loading>
</div>
